<html>

<head>

<link rel="stylesheet" href="styles.css">

</head>

<body>

<br>
<form action="/addCat" method="post">
    <div>
        <label>Age:</label>
        <input type="Number" name="catAge" value="3"/>
    </div>
    <div>
        <label>Breed:</label>
        <input type="text" name="catBreed" value="Tiger"/>
    </div>
    <div>
        <label>Cat Name:</label>
        <input type="text" name="catName" value="Tigger"/>
    </div>
    <div>
        <input type="submit" value="Add Cat"/>
    </div>
</form>

</body>


</html>
