<html>

<head>

  <link rel="stylesheet" href="styles.css">
</head>

<body>

<a href="/addCat">Add a Cat</a>
<br>
Your cats:

<table>
<tr>
  <td>Name</td>
  <td>Breed</td>
  <td>Age</td>
</tr>
<% for(var i = 0; i< cats.length;i++) { %>
  <tr>
    <td class="cat"><%= cats[i].name %></td>
    <td class="cat"><%= cats[i].breed %></td>
    <td class="cat"><%= cats[i].age %></td>
  </tr>
<% } %>

</table>

</body>


</html>
